.dropdown{
    min-height: 35px;
    line-height: 35px;
    font-size: 16px;
}

.shipping{
    font-size: 16px;
}

.total{
    font-size: 19px;
    font-weight: 700;
    border-bottom: 3px double black;
    border-top: 3px solid black;
    padding: 15px 3px 20px 3px; 
    margin-bottom: 20px;
    margin-top: 10px;
}
